.container h1 {
    color: black;

}


#wager-table {
    width: 100%;
    max-width: 1000px;
    border-collapse: collapse;
    border-color: black;
    margin: 50px auto;
    background: white;
    font-size: 24px;
}

.wager-button {
    font-size: 18px;
    background-color: #1a70ec;
    color: white;
    border-radius: 3px;
    border-color: black;
    border-width: 1px;
    margin-block-end: .8rem;
}

.team-logo {
    max-width: 200px;
    height: auto;
}
